html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    background: white;
}

* {
    font-family: "Inika", serif;
}


header {
    display: grid;
    grid-template-areas: "navbar";
}

nav {
    background-color: #00314F;
    font-size: 1.5em;
    display: grid;
    grid-template-areas: "nav1 nav2 nav3";
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: linear-gradient(97.04deg, #00314F 38.01%, #0070B5 123.72%);
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
}

.no-bullets {
    list-style-type: none;
}

.nav-item {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.logo-img {
    height: 50px;
    margin: 0.5em 1em;
}

#navContents {
    padding: 0.5% 5%;
}

.nav-item {
    padding: 0 0.7rem;
}

.nav-link {
    text-align: end;
    --bs-nav-link-font-weight: bold;
    --bs-nav-link-color: white;
}

.nav-link.active {
    --bs-navbar-active-color: #009AFA;
    text-decoration: underline;
}

/* CAROUSEL */
.carousel {
    animation: topFadeIn 2s ease 0s 1 normal forwards;
}

.carousel-caption-header {
    font-size: 4rem;
}

.carousel-caption-desc {
    font-size: 1.5rem;
}

.carousel-caption {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
}

.carousel-img {
    height: 100%;
    object-fit: cover;
}

/* FEATURED */

.featured {
    padding: 10% 0;
}

.featured-header {
    display: flex;
    justify-content: center;
    padding-top: 2%;
}

.featured-header-img {
    width: 30%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    animation: fadeIn 2s ease-in 0s 1 normal forwards;
}

.featured-foods {
    display: grid;
    grid-template-areas: "food1 food2 food3";
    margin: 5%;
    gap: 5%;
}

.featured-food-card {
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid #a7ddff;
    box-shadow: 0px 4px 10px #000000;
    height: auto;
    border-radius: 1em;
    max-height: 750px;
}

.featured-food-card:hover {
    transition: transform .2s;
    transform: scale(1.1);
}

.card-content {
    padding: 5%;

    h3 {
        font-weight: bold;
        padding: 5% 1% 0;
    }

    p {
        text-align: justify;
        padding: 0 1%;
    }
}

.featured-food-card img {
    object-fit: cover;
    border-radius: 10px;
    height: 350px;
    width: 100%;
    padding: 2%;
}

.food1, .food2, .food3 {
    animation: leftSlide 2s ease-in 0s 1 normal forwards;
}

/* ABOUT */

.about-section {
    padding: 10%;
    background: linear-gradient(130.84deg, #00314F 10%, #00090F 89.7%);
    color: white;

    h2, img, p, article, div {
        animation: fadeIn 2s ease-in 0s 1 normal forwards;
    }
}

    .about-header {
        font-size: 2.5rem;
        padding: 2%;
    }

    .about-section .soliven-logo {
        width: 200px;
    }

    .about-subheader {
        padding: 2%;
        font-size: 1.5rem;
    }

    .about-desc {
        padding: 2% 0;

        p {
            text-align: justify !important;
        }
    }

    .soliven-images {
        display: grid;
        grid-template-areas: "about1 about2 about3";
        gap: 2%;
    }

    .soliven-images img {
        width: 100%;
        border-radius: 1em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .soliven-images img:hover {
        transition: transform .2s;
        transform: scale(1.05);
    }

    .about1, .about2, .about3 {
        animation: leftSlide 2s ease-in 0s 1 normal forwards;
    }

    /* CONTACT */

    .contact {
        width: 50%;
        margin: 10% auto;
    }

    .contact-container {
        background: linear-gradient(96.69deg, #00314F 6.74%, #002236 104.65%);
        border-radius: 20px;
        color: white;
        width: 100%;
        padding: 7%;
        text-align: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        animation: fadeIn 2s ease-in 0s 1 normal forwards;
    }

    .contact-header {
        padding-bottom: 5%;
    }

    .contact-desc {
        text-align: start;
    }

    .contact-icon {
        padding-right: 2%;
    }

    /* FOOTER */

    footer {
        background: linear-gradient(90deg, #00314F 0%, #001928 100%);
        display: grid;
        text-align: center;
        grid-template-areas: "footer1 footer2 footer3";
        color: white;
        padding: 1% 0;
    }

    footer .logo-container img {
        height: 50px;
        animation: fadeIn 2s ease-in 0s 1 normal forwards;
    }

    footer .copyright-container p {
        margin: 0px;
        font-size: 0.7rem;
        animation: fadeIn 2s ease-in 0s 1 normal forwards;
    }

    footer .contact-link img {
        width: 24px;
        margin: 0 1%;
        animation: fadeIn 2s ease-in 0s 1 normal forwards;
    }

    footer .footer-contacts a img:hover {
        transition: transform .2s;
        transform: scale(1.1);
    }

    /* RESPONSIVE STYLES */

    /* CONTACT PAGE */
    .contact-page-body {
        background-image: url(assets/contact-bg.png);
        background-repeat: no-repeat;
        height: 100%;
    }

    /* CAROUSEL */
    @media only screen and (max-width: 1450px) {
        .carousel-caption-header {
            font-size: 3rem;
        }
        
        .carousel-caption-desc {
            font-size: 1rem;
        }
    }

    @media only screen and (max-width: 1100px) {
        .carousel-caption-header {
            font-size: 2rem;
        }
        
        .carousel-caption-desc {
            font-size: .75rem;
        }
    }

    /* NAVIGATION */
    @media only screen and (max-width: 991px) {
        .nav-link {
            --bs-nav-link-font-size: 1rem;
        }
    }

    /* FEATURED FOOD */
    @media only screen and (max-width: 1420px) {
        .featured-foods {
            grid-template-areas: "food1 food2" "food3";
            padding: 5% 10%;
        }
    }

    @media only screen and (max-width: 1250px) {
        .featured-foods {
            grid-template-areas: "food1" "food2" "food3";
            padding: 5% 20% 10% 20%;
        }
    }

    @media only screen and (max-width: 790px) {
        .featured-foods {
            grid-template-areas: "food1" "food2" "food3";
            padding: 5% 15% 10% 15%;
        }

        #limePieCard {
            margin-bottom: 50%;
        }
    }

    @media only screen and (max-width: 600px) {
        .featured-foods {
            padding: 5% 5% 10% 5%;
        }
    }

    /* ABOUT US */
    @media only screen and (max-width: 1420px) {
        .soliven-images {
            grid-template-areas: "about1 about2" "about3";
        }
    }

    @media only screen and (max-width: 790px) {
        .soliven-images {
            grid-template-areas: "about1" "about2" "about3";
        }
    }
    
    /* CONTACT SECTION */

    @media only screen and (max-width: 750px) {
        .contact {
            width: 80%;
        }
    }

    @media only screen and (max-width: 400px) {
        .contact {
            width: 90%;
        }
    }

    /* FOOTER */
    @media only screen and (max-width: 860px) {
        footer {
            grid-template-areas: "footer1" "footer2" "footer3";
            gap: 2em;
            padding: 10% 0;
        }
    }

    /* ANIMATION KEYFRAMES */
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes topFadeIn {
        0% {
            opacity: 0;
            transform: translateY(-50px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes leftSlide {
        0% {
            opacity: 0;
            transform: translateX(-250px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes rightSlide {
        0% {
            opacity: 0;
            transform: translateX(250px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    /* CONTACT PAGE */

    .contact-body {
        background: #444444;
    }

    .contact-page-body {
        display: grid;
        grid-template-areas: "contact1 contact2" "contact3 contact3";
        grid-template-columns: 1.5fr 1fr;
        gap: 5rem;
        padding: 10% 5%;
    }

    .contact1 { 
        grid-area: contact1; 
    }

    .contact2 { 
        grid-area: contact2; 
    }

    .contact3 { 
        grid-area: contact3; 
    }

    .contact1, .contact2, .contact3 {
        animation: leftSlide 1s ease-in 0s 1 normal forwards;
    }

    /* GET IN TOUCH WITH US */

    .git-header {
        background: linear-gradient(96.48deg, #00314F 33.9%, #0070B5 118.88%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0.5em;
        text-align: center;
        color: white;
        padding: 2.5%;
        margin-bottom: 5%;

        h3 {
            margin: 1%;
            font-weight: bold;
            font-size: 1.5em;
            letter-spacing: 0.25rem;
        }
    }

    .contact-desc {
        background: linear-gradient(96.69deg, #00314F 6.74%, #002236 104.65%);
        border-radius: 20px;
        color: white;
        padding: 7%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 100%;
    }

    /* CONTACT FORM */

    .contact-form {
        display: grid;
        grid-template-areas: "form1" "form2" "form3" "form4" "form5";
        grid-template-rows: 1fr 1fr 1fr 5fr 1fr;
        gap: 5%;
    }

    .form1 {
        background: linear-gradient(96.48deg, #00314F 33.9%, #0070B5 118.88%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0.5em;
        text-align: center;
        color: white;
        padding: 3%;

        h3 {
            margin: 0px;
            font-weight: bold;
            font-size: 1.5em;
            letter-spacing: 0.25rem;
        }
    }

    .contact-form input, textarea, button {
        border-radius: 0.3em;
        border: none;
        padding: 2%;
        background-color: #D9D9D9;
    }

    .submit-btn {
        border-radius: 0.5em;
        background: linear-gradient(96.48deg, #00314F 33.9%, #0070B5 118.88%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 50%;
        margin: 0 auto;
        color: white;
        font-weight: bold;
    }

    .submit-btn:hover {
        transition: transform .2s;
        transform: scale(1.1);
    }

    /* LOCATION */

    .soliven-location {
        padding-bottom: 5%;

        h3 {
            margin: 0px;
            font-weight: bold;
            font-size: 1.5em;
            letter-spacing: 0.25rem;
            color: white;
            text-align: center;
            padding-bottom: 5%;
        }

        iframe {
            width: 100%;
            border-radius: 2em;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    /* MEDIA QUERIES FOR CONTACT PAGE */

    @media only screen and (max-width: 1250px) {
        .contact-page-body {
            h3 {
                font-size: 1rem;
            }
            
            input, textarea, p {
                font-size: 0.8rem;
            }
        }
    }

    @media only screen and (max-width: 790px) {
        .contact-page-body {
            grid-template-areas: "contact1" "contact2" "contact3";
            grid-template-columns: 1fr;
        }
        
        .contact1, .contact2 {
            padding: 10%;
        }
    }

    /* MENU PAGE */
    .menu-body {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        animation: fadeIn 2s ease-in 0s 1 normal forwards;
    }

    .categories-header {
        position: relative; 
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 2%;
    }

    .categories-header-img {
        width: 406px;
        height: 180px;
        display: block;
        margin: auto;
    }


    .centered-main-courses {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-family: 'Koh Santepheap';
        font-weight: 400;
        font-size: 48px;
        line-height: 69px;
        letter-spacing: 0.08em;

        color: #002132;
        text-align: center;
        white-space: nowrap;
    }


    /**/
    .about-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        animation: fadeInDown 1.5s ease-out forwards;
    }

    .about-main h1 {
        font-weight: 700;
        font-size: 64px;
        letter-spacing: 0.08em;
    }

    .text-justify {
        text-align: justify;
    }
    

    .line {
        width: 100%;
        border-top: 1px solid black;
        margin: 20px 0;
    }

    .section-title {
        background-color: #00314F;
        color: white;
        padding: 10px 20px;
        border-radius: 20px;
        text-align: center;
        margin: 20px auto;
        display: inline-block;
    }

    .staff-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .staff-card {
        text-align: center;
        width: 250px;
        margin-bottom: 20px;
        transition: transform 0.3s ease;
    }

    .staff-card:hover {
        transform: scale(1.05);
    }

    .staff-card img {
        max-width: 200px;
        border-radius: 10px;
        margin-bottom: 15px;
    }

    .custom-text{
        color: #00314F;
    }

    .values-list {
        font-weight: 700;
        font-size: 30px;
        letter-spacing: 0.08em;
        text-align: center;
    }

    .values-list > li {
        text-align: left;
        padding: 10px;
    }

    .values-sublist {
        font-size: 25px;
        font-weight: 400;
        text-align: justify;
    }

    .resto-img {
        width: 100%;
        border-radius: 50px;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        opacity: 0.8;
    }

    .resto-img:hover {
        transform: scale(1.05);
        opacity: 1;
    }

    @keyframes fadeInDown {
        0% {
            opacity: 0;
            transform: translateY(-20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @media (max-width: 768px) {
        .about-main h1 {
            font-size: 42px;
        }

        .staff-card {
            width: 45%;
        }

        .staff-card img {
            max-width: 180px;
        }

        .section-title {
            font-size: 18px;
            padding: 8px 15px;
        }

        .values-list {
            font-size: 25px;
        }

        .values-sublist {
            font-size: 20px;
        }
    }

    @media (max-width: 480px) {

        .container{
            padding: 10px;
        }
        .about-main h1 {
            font-size: 32px;
        }

        .staff-card {
            width: 90%;
        }

        .staff-card img {
            max-width: 160px;
        }

        .section-title {
            font-size: 16px;
            padding: 6px 12px;
        }

        .values-list {
            font-size: 18px;
        }

        .values-sublist {
            font-size: 12px;
        }
    }